body {
  background-color: antiquewhite;
  font-family: "Fraunces", serif;
  /* font-family: "Montserrat Alternates", sans-serif; */
}

.container {
  margin: 10% auto;
  height: 60vh;
  width: 40vw;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

.img {
  background-image: url("images/image-product-desktop.jpg");
  height: 60vh;
  width: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  /* border: 2px solid red; */
}

.txt {
  height: 60vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  float: right;
  clear: left;
  margin-top: -65%;
}

.head {
  text-transform: uppercase;
  letter-spacing: 2pt;
  font-weight: lighter;
  color: hsl(228, 12%, 48%);
}

.txtPara {
  color: hsl(228, 12%, 48%);
  font-weight: lighter;
  /* font-family: "Montserrat Alternates", sans-serif; */
  font-family: "Fraunces", serif;
}

.btn-cart {
  width: 90%;
  height: 10%;
  margin-top: 5%;
  background-color: hsl(158, 36%, 37%);
  color: white;
  border: none;
  border-radius: 8px;
  font-family: "Montserrat Alternates", sans-serif;
}

.price {
  color: hsl(158, 36%, 37%);
  width: 70px;
  height: 30px;
  text-align: center;
  padding: 10px;
  font-size: 34px;
}

.strikeOut {
  /* border: 2px solid red; */
  padding-left: 15px;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

/* Media Query */
@media only screen and (max-width: 375px) {
  .container {
    margin: 0;
    padding: 0;
    width: 62vw;
    height: 50vh;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    overflow: hidden;
  }

  .img {
    background-image: url("images/image-product-mobile.jpg");
    background-size: contain;
    width: 62vw;
    height: 30vh;
  }
  .txt {
    height: 30vh;
    width: 100%;
    padding: auto;
  }
  .btn-cart {
    width: 80%;
    height: 20%;
    padding: 2%;
    margin-top: 5%;
    margin-left: 5%;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    border-radius: 8px;
    font-family: "Montserrat Alternates", sans-serif;
  }
}
